body {
    background-color: black;
    color:#3c3
}

.title {
    text-align: center;
    border-bottom: 1px solid #3c3;
}

input {
    background-color: black;
    border: 1px solid #3c3;
    color : #3c3;
    width: 80%;
}

button {
    background-color: black;
    border: 1px solid #3c3;
    color : #3c3;
    width: 18%;
}

.container {
    margin: 0 auto;
    width: 50%;
    border: 1px solid #3c3;
}